<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        
        if (urlParams.get('request') === 'true') {
            alert("Friend Request Sent!!");
        }
        if (urlParams.get('friends') === 'true') {
            alert("you are now friends!!");
        }
    </script>
</head>
<body class="bg-sky-100">
    <nav class="bg-sky-950 p-4 flex items-center justify-between">
        <!-- Logo -->
        <div class="text-white text-xl font-semibold">
            <a href="/">Friendzy</a>
        </div>
        
        <!-- Search Bar -->
        <div class="flex-grow mx-40">
            <form action="/search" method="get" class="relative">
                <button type="submit" class="absolute left-2 top-1/2 transform -translate-y-1/2">
                    <img src="/images/search (1).png" alt="Search" class="h-5 w-5 text-gray-500"/>
                </button>
                <input type="text" name="query" placeholder="Search..." class="w-1/2 pl-10 py-2 rounded-md bg-white border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-sky-500" />
            </form>
        </div>
        
        <div class="flex items-center space-x-4">
            <button class="relative">
                <i class="fas fa-bell fa-2x text-white mr-2"></i>
                
            </button>
            <button class="relative">
                <a href="/conversation"><i class="fas fa-envelope fa-2x text-white"></i></a>
                
            </button>
        </div>
        
        <!-- Hamburger Menu -->
        <div class="relative lg:hidden ml-10">
            <button id="settingsMenuButton" class="text-white">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            
            <!-- Dropdown Menu -->
            <div id="settingsMenu" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden">
                <% if (user) { %>
                <div class="flex items-center p-4 border-b border-gray-200">
                    <img src="<%= user.profilePicture %>" alt="Profile Picture" class="w-10 h-10 rounded-full mr-3">
                    <div>
                        <a href="/about" class="text-gray-800 font-semibold"><%= user.username %></a>
                    </div>
                </div>
                <a href="/logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Logout</a>
                <% } else { %>
                <a href="/login" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Login</a>
                <% } %>
            </div>
        </div>
        <% if (user) { %>
            <div class="flex items-center">
                <img src="<%= user.profilePicture %>" alt="Profile Picture" class="w-10 h-10 rounded-full mr-5 ml-20">
                <div>
                    <a href="/about" class="text-white font-semibold mr-5"><%= user.username %></a>
                </div>
            </div>
            <a href="/logout" class="ml-4 text-white">Logout</a>
            <% } else { %>
            <a href="/login" class="text-white">Login</a>
            <% } %>
    </nav>
    <div class="flex justify-between mx-4 p-4">
    <div class="w-1/4 p-4 mx-4">

    <div class="relative flex  overflow-hidden py-6 sm:py-8">
        <div class="relative bg-white px-6 pt-6 pb-6 shadow-xl ring-1 ring-gray-900/5 sm:max-w-sm sm:rounded-lg sm:px-10 ml-4">
            <div class="max-w-md mx-auto">
                <h1 class="text-2xl font-bold">About <%= user.username %></h1>
                <div class="items-center">
                    <img src="<%= user.profilePicture %>" alt="Profile Picture" class="w-32 h-32 rounded-full mr-4 mt-4">
                    <div>
                        <h2 class="text-xl font-bold mt-2"><%= user.username %></h2>
                        <p class="text-gray-600">Friends Count: <%= user.friends.length %></p>
                        <p class="text-gray-600 mb-5">Bio: <%= user.bio || 'No bio available' %></p>
                        <a href="/editbio" class="bg-blue-500 text-white px-4 py-2 rounded">Edit Bio</a>
                    </div>
                </div>
            </div>
            </div>
            </div>
            
      
    <div class="relative flex  overflow-hidden py-6 sm:py-8">
        <div class="relative bg-white px-6 pt-6 pb-6 shadow-xl ring-1 ring-gray-900/5 sm:max-w-sm sm:rounded-lg sm:px-10 ml-4">
            <div class="max-w-md mx-auto">
                <div class="items-center">
                    <h2 class="text-xl font-bold mb-2">Your Friends (<%= user.friends.length %>)</h2>
                <ul>
                    <% if (user.friends.length > 0) { %>
                        <% user.friends.forEach(friend => { %>
                            <!-- <li class="mt-2 text-gray-700"><%= friend.username %></li> -->
                            <li class="mt-2 text-gray-700 flex justify-between items-center">
                                <span><%= friend.username %></span>
                                <div class="relative">
                                    <button id="dropdownButton-<%= friend._id %>" class="text-gray-500 hover:text-gray-700 focus:outline-none">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div id="dropdownMenu-<%= friend._id %>" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden">
                                        <a href="/profile/<%= friend._id %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Show Profile</a>
                                        <a href="/message/<%= friend._id %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Message</a>
                                        <form action="/remove-friend" method="post">
                                            <input type="hidden" name="friendId" value="<%= friend._id %>">
                                            <button type="submit" class="w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100">Remove Friend</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <script>
                                document.getElementById('dropdownButton-<%= friend._id %>').addEventListener('click', () => {
                                    const dropdownMenu = document.getElementById('dropdownMenu-<%= friend._id %>');
                                    dropdownMenu.classList.toggle('hidden');
                                });

                                document.addEventListener('click', (event) => {
                                    const isClickInside = document.getElementById('dropdownMenu-<%= friend._id %>').contains(event.target);
                                    const isButtonClick = document.getElementById('dropdownButton-<%= friend._id %>').contains(event.target);
                                    if (!isClickInside && !isButtonClick) {
                                        document.getElementById('dropdownMenu-<%= friend._id %>').classList.add('hidden');
                                    }
                                });
                            </script>
                        <% }) %>
                    <% } else { %>
                        <li class="text-gray-600">No friends yet</li>
                    <% } %>
                </ul>
                    </div>
                </div>
            </div>
            </div>
            </div>
            

    <div class="w-2/4 p-4 mx-4">
        <div class="mb-5">
            <div class="bg-white p-4 rounded-lg shadow-md">
                <form action="/posts" method="post">
                  <textarea
                    class="w-full p-2 rounded-md border border-gray-300 outline-none"
                    placeholder="Write your real thought..."
                    name="post"
                  ></textarea>
                  <div class="flex justify-between items-center mt-3">
                    <div class="flex space-x-3">
                      <%- include('fileUploaderButton', {type:"image",name:"post-img",
                      icon:"fa-regular fa-image"}) %> <%- include('fileUploaderButton',
                      {type:"video",name:"post-video", icon:"fa-solid fa-video"}) %>
                    </div>
                    <button class="bg-blue-500 text-white py-1 px-3 rounded-md">
                      Post
                    </button>
                  </div>
                </form>
              </div>

        </div>
        <div class="bg-gray-100 mb-5">
            <% if (posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <div class="bg-white p-2 rounded-lg shadow-md mb-4">
                        <div class="flex items-center bg-white p-4 rounded-lg shadow">
                            <img src="<%= post.author.profilePicture ? post.author.profilePicture : '/images/user.png' %>" alt="User Avatar" class="w-10 h-10 rounded-full" />
                        </div>
                        <div><%= post.content %></div>
                        <div class="flex justify-between mt-3">
                            <div class="flex gap-4">
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-comment"></i>
                            </div>
                            <i class="fa-solid fa-share"></i>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="bg-white p-2 rounded-lg shadow-md mb-4">
                    <div class="text-gray-600 p-4">No posts available</div>
                </div>
            <% } %>
        </div>

    </div>
    <div class="w-1/4 p-4">

        <div  class="mb-5">
            <div class="bg-white p-4 rounded-lg shadow-md mb-5">
                <h2 class="text-xl font-bold mb-3">Friend Requests</h2>
                <% if (user.friendRequests.length > 0) { %>
                    <ul>
                        <% user.friendRequests.forEach(request => { %>
                            <li class="flex items-center justify-between mt-2">
                                <div class="flex items-center">
                                    <img src="<%= request.profilePicture ? request.profilePicture : '/images/user.png' %>" alt="Friend Avatar" class="w-10 h-10 rounded-full mr-3" />
                                    <span><%= request.username %></span>
                                </div>
                                <form action="/accept-friend" method="post" class="ml-4">
                                    <input type="hidden" name="requestId" value="<%= request._id %>" />
                                    <button type="submit" class="bg-blue-500 text-white py-1 px-3 rounded-md">Accept</button>
                                </form>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p class="text-gray-600">No friend requests</p>
                <% } %>
            </div>

            <div class="relative bg-white px-6 pt-6 pb-6 shadow-xl ring-1 ring-gray-900/5 sm:max-w-sm sm:rounded-lg sm:px-10 ml-4">
                <div class="max-w-md mx-auto">
                    <h2 class="text-xl font-bold mb-2">Suggestions</h2>
                    <ul>
                        <% if (suggestions && suggestions.length > 0) { %>
                            <% suggestions.forEach(user => { %>
                                <li class=" justify-between items-center mt-2 text-gray-700">
                                    <div class="flex  justify-between">
                                        <img src="<%= user.profilePicture %>" alt="Profile Picture" class="w-10 h-10 rounded-full mr-3">
                                        <span><%= user.username %></span>
                                   
                                    <form action="/send-request" method="post">
                                        <input type="hidden" name="suggestionId" value="<%= user._id %>">
                                        <button type="submit" class=" h-10 w-10  rounded"><img src="images/add-user.png" alt=""></button>
                                    </form>
                                    </div>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <li class="text-gray-600">No suggestions available</li>
                        <% } %>
                    </ul>
                </div>
            </div>

        </div>
  
          
      </div>
    
    </div>
    


    

    

    


    <script>
        // JavaScript for toggling the settings menu
        document.getElementById('settingsMenuButton').addEventListener('click', () => {
            const menu = document.getElementById('settingsMenu');
            menu.classList.toggle('hidden');
        });
    
        // Close the menu if clicking outside
        document.addEventListener('click', (event) => {
            const isClickInside = document.getElementById('settingsMenu').contains(event.target);
            const isButtonClick = document.getElementById('settingsMenuButton').contains(event.target);
            if (!isClickInside && !isButtonClick) {
                document.getElementById('settingsMenu').classList.add('hidden');
            }
        });
    </script>
    
</body>
</html>