<style>
  .custom-file .file-preview {
    display: none;
    /* width: 155px; */
    border: 2px dashed #333;
    margin-bottom: 20px;
  }
  .custom-file .file-preview img {
    width: 100%;
    height: auto;
    display: block;
  }
  .custom-file [type="file"] {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .custom-file .attach-btn {
    position: absolute;
    bottom: 0px;
  }
</style>
<div class="custom-file">
  <div class="file-preview" id="file-preview-<%=name%>"></div>
  <input type="file" id="id-<%=name%>" name="<%=name%>" accept="<%=type%>/*" />
  <label
    for="id-<%=name%>"
    class="attach-btn p-2 hover:bg-zinc-200 focus:outline-none focus:ring-2 focus:ring-zinc-200 left-[<%= pos * 2 %>rem]"
  >
    <i class="<%=icon%>"></i>
  </label>
</div>
<script>
  document
    .getElementById("id-<%=name%>")
    .addEventListener("change", function () {
      const imgPreview = document.getElementById("file-preview-<%=name%>");
      const files = this.files[0];
      const fileType = "<%=type%>";
      if (files) {
        const fileReader = new FileReader();
        fileReader.readAsDataURL(files);
        fileReader.addEventListener("load", function () {
          imgPreview.style.display = "block";
          if (fileType === "image") {
            imgPreview.innerHTML = '<img src="' + this.result + '" />';
          } else if (fileType === "video") {
            imgPreview.innerHTML =
              '<video controls autoplay src="' +
              URL.createObjectURL(files) +
              '" />';

            setTimeout(function () {
              imgPreview.children[0].play();
            }, 100);
          }
        });
      }
    });
</script>
