<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user auth</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex">
      <!--NavBar-->
    <nav class="w-full">
      <%- include('navbar', { user: user }) %>
    </nav>
    </div>
          
  </div>
    <div class="flex justify-between">

      <!-- Left Sidebar -->
      <div class="w-1/4 p-4">
        <div  class="mb-5"><%- include('notifications') %> </div>
        <%- include('explore') %>
      </div>

      <!-- Middle Content -->
      <div class="w-2/4 mx-4 p-4">
        <div class="mb-5">
          <%- include('note') %>
        </div> 
        
        
        <div><% posts.forEach(function(post){ %> 
          <%- include('post', {post: post}) %> 
          <% });%></div>
        </div>

      <!-- Right Sidebar -->
      <div class="w-1/4 p-4">

        <div  class="mb-5"><%- include('sideSuggestions') %> </div>
  
          <%- include('suggestedForYou', {
            suggestions: suggestedUsers }) %>
      </div>
    </div>
  </body>
</html>
